### AMPA 4900 HW 4
### Name: Yuanqing Hong
### UNI: yh2866

#### Q1 Give a count of all videos currently out.

In [ ]:
SELECT count(customer_id)
FROM rental
WHERE return_date is NULL

Result:
<img src="data/Picture1.PNG">

#### Q2 Make a list of all customer names who have videos out and how much they owe.

In [ ]:
SELECT a.first_name,
       a.last_name,
       count(a.customer_id) as Num_Vidoes
FROM customer AS a,
     rental AS b
WHERE a.customer_id = b.customer_id
  AND b.return_date IS NULL
GROUP BY a.customer_id
ORDER BY 3 DESC

Result:
<img src="data/Picture2_2.PNG">

#### Q4 Using a 1 per day late fee. Find out which users owe the most assuming all rentals are a week long.

In [ ]:
SELECT customer.first_name, 
       customer.last_name, 
       (date(rental.return_date) - date(rental.rental_date))*1 AS Penalty
FROM rental,
     customer
WHERE date(rental.return_date) - date(rental.rental_date) >= 7
  AND rental.customer_id = customer.customer_id
ORDER BY Penalty DESC

Result:
<img src="data/Picture4.PNG">

#### Q5 What hour of the day to people rent the most ?

In [ ]:
SELECT extract(hour
               FROM rental_date) AS rental_hour,
       count(extract(hour
                     FROM rental_date))
FROM rental
GROUP BY rental_hour
ORDER BY 2 DESC

Result:
<img src="data/Picture5.PNG">

#### Q6 Which store is more profitable, assuming all movies cost 15 per inventory item to purchase.

In [ ]:
SELECT c.store_id,
       a.total_sales AS total_sales,
       15*count(c.inventory_id) AS Cost,
       (a.total_sales-15*count(c.inventory_id)) AS Profit
FROM sales_by_store a
INNER JOIN staff_list b ON b.name = a.manager
INNER JOIN inventory c ON c.store_id = b.sid
GROUP BY c.store_id,
         a.total_sales
ORDER BY 4 DESC

Result:
<img src="data/Picture6_5.png">